#header {
    background :
    #00ccff
    ;
    height : 10%;
    font-size : 1.5em;
    text-align:center;
    padding-top : 20px;
    
    }
    #sidebar {
    background :#99ccff;
    float : left;
    height : 400px;
    width:30%;
    font-size : 1.5em;
    text-align:left;
    padding-top : 20px;
    
    }
    #content {
    background :#9999ff;
    float : right;
    width : 70%;
    height : 400px;
    font-size : 1.5em;
    text-align:center;
    padding-top : 20px
    ;
    
    }
    #footer
    
    {
    background :
    #3399ff
    ;
    clear : both;
    
    font-size : 1.5em
    ;
    
    text-align:center;
    
    }